<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>メーカ一覧</title>
</head>
<body>
    <h1>メーカ一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>メーカID</th>
                <th>メーカ名</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="manufacturer : ${manufacturers}">
                <td th:text="${manufacturer.id}">メーカID</td>
                <td th:text="${manufacturer.name}">メーカ名</td>
                <td><a th:href="@{'/manufacturers/' + ${manufacturer.id}}">詳細を見る</a></td>
            </tr>
        </tbody>
    </table>
    <div th:if="${isAdmin}">
        <button onclick="location.href='/manufacturers/new'">新規作成</button>
    </div>
</body>
</html>
